<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
            <h2 id="jhi-booking-heading" jhiTranslate="klavApp.booking.home.createOrEditLabel">Create or edit a Booking</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!booking.id">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id"
                        [(ngModel)]="booking.id" readonly />
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="klavApp.booking.travel" for="field_travel">Travel</label>
                    <select class="form-control" id="field_travel" name="travel" [(ngModel)]="booking.travel" >
                        <option [ngValue]="null"></option>
                        <option [ngValue]="travelOption.id === booking.travel?.id ? booking.travel : travelOption" *ngFor="let travelOption of travels; trackBy: trackTravelById">{{travelOption.id}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="klavApp.booking.klavUser" for="field_klavUser">Klav User</label>
                    <select class="form-control" id="field_klavUser" name="klavUser" [(ngModel)]="booking.klavUser" >
                        <option [ngValue]="null"></option>
                        <option [ngValue]="klavUserOption.id === booking.klavUser?.id ? booking.klavUser : klavUserOption" *ngFor="let klavUserOption of klavusers; trackBy: trackKlavUserById">{{klavUserOption.id}}</option>
                    </select>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
