<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
            <h2 id="jhi-travel-heading" jhiTranslate="klavApp.travel.home.createOrEditLabel">Create or edit a Travel</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!travel.id">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id"
                        [(ngModel)]="travel.id" readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="klavApp.travel.departureDate" for="field_departureDate">Departure Date</label>
                    <div class="d-flex">
                        <input id="field_departureDate" type="datetime-local" class="form-control" name="departureDate" [(ngModel)]="departureDate"
                        />
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="klavApp.travel.arrivalDate" for="field_arrivalDate">Arrival Date</label>
                    <div class="d-flex">
                        <input id="field_arrivalDate" type="datetime-local" class="form-control" name="arrivalDate" [(ngModel)]="arrivalDate"
                        />
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="klavApp.travel.departureCity" for="field_departureCity">Departure City</label>
                    <input type="text" class="form-control" name="departureCity" id="field_departureCity"
                        [(ngModel)]="travel.departureCity" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="klavApp.travel.arrivalCity" for="field_arrivalCity">Arrival City</label>
                    <input type="text" class="form-control" name="arrivalCity" id="field_arrivalCity"
                        [(ngModel)]="travel.arrivalCity" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="klavApp.travel.availableKGs" for="field_availableKGs">Available K Gs</label>
                    <input type="number" class="form-control" name="availableKGs" id="field_availableKGs"
                        [(ngModel)]="travel.availableKGs" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="klavApp.travel.pricePerKG" for="field_pricePerKG">Price Per KG</label>
                    <input type="number" class="form-control" name="pricePerKG" id="field_pricePerKG"
                        [(ngModel)]="travel.pricePerKG" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="klavApp.travel.travelMode" for="field_travelMode">Travel Mode</label>
                    <input type="text" class="form-control" name="travelMode" id="field_travelMode"
                        [(ngModel)]="travel.travelMode" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="klavApp.travel.deleveryMode" for="field_deleveryMode">Delevery Mode</label>
                    <select class="form-control" name="deleveryMode" [(ngModel)]="travel.deleveryMode" id="field_deleveryMode" >
                        <option value="HOMEDELEVERY">{{'klavApp.DeliveryMode.HOMEDELEVERY' | translate}}</option>
                        <option value="HOMEWITHDRAWAL">{{'klavApp.DeliveryMode.HOMEWITHDRAWAL' | translate}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="klavApp.travel.howToContactDescription" for="field_howToContactDescription">How To Contact Description</label>
                    <input type="text" class="form-control" name="howToContactDescription" id="field_howToContactDescription"
                        [(ngModel)]="travel.howToContactDescription" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="klavApp.travel.complementaryRules" for="field_complementaryRules">Complementary Rules</label>
                    <input type="text" class="form-control" name="complementaryRules" id="field_complementaryRules"
                        [(ngModel)]="travel.complementaryRules" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="klavApp.travel.bookable" for="field_bookable">Bookable</label>
                    <input type="checkbox" class="form-control" name="bookable" id="field_bookable"
                        [(ngModel)]="travel.bookable" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="klavApp.travel.accessCode" for="field_accessCode">Access Code</label>
                    <input type="text" class="form-control" name="accessCode" id="field_accessCode"
                        [(ngModel)]="travel.accessCode" />
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="klavApp.travel.destinationAddress" for="field_destinationAddress">Destination Address</label>
                    <select class="form-control" id="field_destinationAddress" name="destinationAddress" [(ngModel)]="travel.destinationAddress">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="addressOption.id === travel.destinationAddress?.id ? travel.destinationAddress : addressOption" *ngFor="let addressOption of destinationaddresses; trackBy: trackAddressById">{{addressOption.id}}</option>
                    </select>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
