<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
            <h2 id="jhi-message-heading" jhiTranslate="klavApp.message.home.createOrEditLabel">Create or edit a Message</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!message.id">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id"
                        [(ngModel)]="message.id" readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="klavApp.message.content" for="field_content">Content</label>
                    <input type="text" class="form-control" name="content" id="field_content"
                        [(ngModel)]="message.content" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="klavApp.message.sentDate" for="field_sentDate">Sent Date</label>
                    <div class="d-flex">
                        <input id="field_sentDate" type="datetime-local" class="form-control" name="sentDate" [(ngModel)]="sentDate"
                        />
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="klavApp.message.sender" for="field_sender">Sender</label>
                    <select class="form-control" id="field_sender" name="sender" [(ngModel)]="message.sender" >
                        <option [ngValue]="null"></option>
                        <option [ngValue]="klavUserOption.id === message.sender?.id ? message.sender : klavUserOption" *ngFor="let klavUserOption of klavusers; trackBy: trackKlavUserById">{{klavUserOption.id}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="klavApp.message.chat" for="field_chat">Chat</label>
                    <select class="form-control" id="field_chat" name="chat" [(ngModel)]="message.chat" >
                        <option [ngValue]="null"></option>
                        <option [ngValue]="chatOption.id === message.chat?.id ? message.chat : chatOption" *ngFor="let chatOption of chats; trackBy: trackChatById">{{chatOption.id}}</option>
                    </select>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
