<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="review">
            <h2><span jhiTranslate="klavApp.review.detail.title">Review</span> {{review.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="klavApp.review.note">Note</span></dt>
                <dd>
                    <span>{{review.note}}</span>
                </dd>
                <dt><span jhiTranslate="klavApp.review.date">Date</span></dt>
                <dd>
                    <span>{{review.date}}</span>
                </dd>
                <dt><span jhiTranslate="klavApp.review.comment">Comment</span></dt>
                <dd>
                    <span>{{review.comment}}</span>
                </dd>
                <dt><span jhiTranslate="klavApp.review.klavUser">Klav User</span></dt>
                <dd>
                    <div *ngIf="review.klavUser">
                        <a [routerLink]="['/klav-user', review.klavUser?.id, 'view']">{{review.klavUser?.id}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/review', review.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
